<a href="https://colab.research.google.com/github/z-arabi/Machine-Learning/blob/main/Ensemble_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/z-arabi/Machine-Learning.git
%cd "Machine-Learning"

Cloning into 'Machine-Learning'...
remote: Enumerating objects: 79, done.
remote: Counting objects: 100% (79/79), done.
remote: Compressing objects: 100% (75/75), done.
remote: Total 79 (delta 31), reused 10 (delta 1), pack-reused 0
Unpacking objects: 100% (79/79), done.
/content/Machine-Learning

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import BaggingClassifier
%matplotlib inline

In [3]:
df = pd.read_csv('Datasets/Social_Network_Ads.csv')

df.drop('User ID', axis=1, inplace=True)
df.head(5)

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [4]:
df.Gender = pd.get_dummies(df.Gender, drop_first=True)
X = df.to_numpy()

np.random.seed = 0
X = X[np.random.permutation(X.shape[0])]

y = X[:, -1]
X = X[:, :-1]

In [5]:
split = int(X.shape[0] * 0.8)

X_train = X[:split]
y_train = y[:split]

X_test = X[split:]
y_test = y[split:]

In [6]:
mean = X_train.mean(axis=0)
std = X_train.std(axis=0)

X_train = (X_train - mean) / std
X_test = (X_test - mean) / std

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [8]:
'''
baggingClassifer > base estimator > number of differnet models to train from the base estimator
max_samples > to each of the models how many samples I show
max_features > how many features for each model
'''

clf = BaggingClassifier(DecisionTreeClassifier(max_depth=2, splitter="random"), n_estimators=100, max_samples=0.8)
# bootstrap > for bagging if true else pasting + max_samples > can be int or float(for percentage)
# bootstrap features > for features + max_features
# n jobs 

clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.8375

In [9]:
# random search
for i in range(10000):
    n = np.random.randint(10, 1000)
    s = np.random.randint(4, 1000)
    clf = BaggingClassifier(DecisionTreeClassifier(), n_estimators=n, max_samples=s)
    # clf.fit(X_train,y_train)
    # clf.score(X_test,y_test)

# compare the results

In [10]:
# grid search
for n in [10, 30, 50, 90, 130]:
    for s in [40, 80, 130, 170, 260, 320]:
        clf = BaggingClassifier(DecisionTreeClassifier(), n_estimators=n, max_samples=s)
        # clf.fit(X_train,y_train)
        # clf.score(X_test,y_test)

# compare the results

In [11]:
# n jobs=-1 > use all of the processors
clf = BaggingClassifier(DecisionTreeClassifier(max_depth=2), n_estimators=10, max_samples=150, n_jobs=-1)
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

0.915625
0.925